@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'swiper/css';
@import 'swiper/swiper-bundle.css';
@import "swiper/css/pagination";
@import 'swiper/css/effect-coverflow';

.scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .range-input {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 3px;
    background: #eeecf3;
    opacity: .8;
    border-radius: 4px;
    outline: none;
  }
  
  .range-input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 24px;
    height: 18px;
    background: #AE9BCE;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .range-input::-moz-range-thumb {
    width: 24px;
    height: 18px;
    background: #AE9BCE;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .range-input::-ms-thumb {
    width: 24px;
    height: 18px;
    background: #AE9BCE;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .range-sub-input {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 2px;
    background: #eeecf3;
    opacity: .8;
    border-radius: 4px;
    outline: none;
  }
  
  .range-sub-input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 12px;
    background: #AE9BCE;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .range-sub-input::-moz-range-thumb {
    width: 20px;
    height: 14px;
    background: #AE9BCE;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .range-sub-input::-ms-thumb {
    width: 20px;
    height: 14px;
    background: #AE9BCE;
    border-radius: 4px;
    cursor: pointer;
  }


.lds-ring,
.lds-ring div {
  box-sizing: border-box;
}
.lds-ring {
  display: inline-block;
  position: relative;
  height: 100%;
  aspect-ratio: 1;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 24px;
  height: 24px;
  border: 3px solid currentColor;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: currentColor transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes slide-in {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slide-out {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

.slide-in {
  animation: slide-in 0.5s forwards;
}

.slide-out {
  animation: slide-out 0.5s forwards;
}



  #carousel {
  grid-row: 1 / 2;
  grid-column: 1 / 8;
  width: 100%;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transform-style: preserve-3d;
  perspective: 100px;
  --items: 7;
  --middle: 3;
  --position: 1;
}

.item:nth-of-type(1) {
  --offset: 1;
}

.item:nth-of-type(2) {
  --offset: 2;
}

.item:nth-of-type(3) {
  --offset: 3;
}

.item:nth-of-type(4) {
  --offset: 4;
}

input:nth-of-type(1) {
  grid-column: 2 / 3;
  grid-row: 2 / 4;
}

input:nth-of-type(1):checked ~ #carousel {
  --position: 1;
}

input:nth-of-type(2) {
  grid-column: 3 / 4;
  grid-row: 2 / 4;
}

input:nth-of-type(2):checked ~ #carousel {
  --position: 2;
}

input:nth-of-type(3) {
  grid-column: 4 / 5;
  grid-row: 2 / 4;
}

input:nth-of-type(4) {
  grid-column: 5 / 6;
  grid-row: 2 / 4;
}

input:nth-of-type(3):checked ~ #carousel {
  --position: 4;
}

  .item{
    background-color: #0d1c2a92;
    width: 200px;
    height: 100%;
    border: 2px solid black;
    overflow: hidden;
    border-radius: 20px;
    position: absolute;
    --r: calc(var(--position) - var(--offset));
    --abs: max(calc(var(--r) * -1), var(--r));
    transition: all 0.25s linear;
    transform: rotateY(calc(-10deg * var(--r))) translateX(calc(-250px * var(--r)));
    z-index: calc(var(--position) - var(--abs));
  }
  .no-scroll {
    overflow: hidden;
  }